@charset "UTF-8";

p {color:red;}

.wrapper {
    display: -webkit-flex;
    display: flex;
}

.wrapper > div {
    flex: 1;
}

.box1{
    display: -webkit-flex;
    display: flex;
}

.box1> div {
    flex: 1;
}