/*文字コード宣言*/
@charset "UTF-8";

/* 設定の初期化*/
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #e6e6e6;
}

#syougi {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#img_0{
    opacity: 0;
}

#G_W{
    float: left;
    height: auto;
    transform: rotate(180deg);
}

.G_komadai td {
    width: 8vw;
    height: auto;
    text-align: center;
    font-size: 2vw;
    cursor: pointer;
}

#G_W img {
    width: 40%;
}

.nari_W{
    
}

.syougi-board{
    float: left;
}

.syougi-board td{
    width: 3.8vw;
    height: auto;
    background-color: #ddd;
    text-align: center;
    font-size: 3.8vw;
    cursor: pointer;
}

.syougi-board img{
    width: 100%;
    height: auto;
}

#S_W{
    float: left;
}

.S_komadai td {
    width: 8vw;
    height: auto;
    text-align: center;
    font-size: 2vw;
    cursor: pointer;
}

#S_W img {
    width: 40%;
}
.data_E{
    width: 200px;
    height: 150px;
}

.komaMove {
    background-color: rgba(255, 0, 0, 0.5);
}

.enemy{
    transform: rotate(180deg);
}